.content {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
    width: 10em;
    height: 10em;
    background-color: rgb(60, 60, 60);
    border: 2px solid rgb(162, 162, 162);
    border-radius: 5%;
    display: flex;
}
.content a{
    text-decoration: none;
    color: whitesmoke;
    padding: 7px;
}